<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.5.1" targetFramework="net451" />
  <package id="knockoutjs" version="3.1.0" targetFramework="net451" />
  <package id="linq.js" version="3.0.4-beta5" targetFramework="net451" />
</packages>